body {
  font-family: "Pretendard", "Dotum", "돋움", sans-serif;
  color: #111;
  font-size: 16px;
  min-height: 5000px;
}
p {
  line-height: 1.5;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
textarea {
  font-family: inherit;
}

/* block요소를 옆으로 나란히 놓는 방법  flex, grid  
  flex 는 부모 자식의 관계에 설정 가능
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  /* fixed body 기준  absolute 는 자기 조상 기준 */
  top: 0;
  color: #fff;
  /* width: calc(100% - 100px); */
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  /* flex-direction에 의해 결정된 main-axis 정렬; */
}
header h1 a {
  height: 100px;
  display: flex;
  align-items: center;
}
header h1 a img {
  height: 50px;
}
header nav ul {
  display: flex;
  font-size: 18px;
  font-weight: 500;
}
/* inline 요소는 넓이 높이를 가지지 않는다. */
header nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  /* width: 150px; */
  padding-left: 50px;
  padding-right: 50px;
  padding: 0 50px;
}
header .link {
  border: 2px solid #fff;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px 20px 10px 20px; /*상우하좌*/
  padding: 10px 20px 10px; /*상 / 좌우같을때 / 하*/
  padding: 10px 20px; /*상하같을때 / 좌우같을때*/
  /* border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px; */
  border-radius: 100px 100px 100px 100px;
  border-radius: 100px;
}

.hidden {
  display: none;
}

main section video {
  width: 100%;
}
