body {
  font-family: "Lato", "Pretendard", "Dotum", sans-serif;
  font-size: 16px;
  color: #111;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background-color: #ccc;
}
body::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.header {
  /* header */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 99;
  overflow: hidden;
  padding: 0 50px;
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;
  transition: all 0.25s ease;
  box-sizing: border-box;
}
.header:after {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100px;
  left: 0;
  opacity: 0;
  transition: all 0.25s ease;
  content: "";
  background-color: #ccc;
  pointer-events: none;
}
.header.on {
  height: 380px;
  color: #111;
  background-color: #fff;
}
.header.on .link {
  color: #111;
  border-color: #111;
}
.header.on:after {
  opacity: 1;
}
.header.scroll {
  color: #111;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header.scroll .link {
  color: #111;
  border-color: #111;
}
.header .logo__link {
  display: flex;
  align-items: center;
  height: 100px;
}
.header .logo__img {
  height: 50px;
}
.header .gnb__list {
  display: flex;
  flex-direction: row;
}
.header .gnb__list > li:hover > a {
  color: #297bf6;
}
.header .gnb__list > li:hover > a:after {
  transform: scaleX(1);
}
.header .gnb__list > li > a {
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  padding: 0 60px;
  font-size: 18px;
  font-weight: 700;
}
.header .gnb__list > li > a:after {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 0.25s ease;
  content: "";
  background-color: #297bf6;
}
.header .gnb__list .last {
  border-right: 1px solid #ccc;
}
.header .gnb__list--sub {
  height: 250px;
  padding-top: 30px;
  border-left: 1px solid #ccc;
}
.header .gnb__list--sub li a {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.header .link {
  margin-top: 20px;
  padding: 20px 30px;
  border: 2px solid #fff;
  border-radius: 100px;
}

.footer {
  padding: 80px 0;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
}
.footer .upper {
  display: flex;
}
.footer .upper .logo img {
  width: 120px;
}
.footer .upper .list {
  display: flex;
  margin-top: 10px;
}
.footer .upper .list li {
  margin-left: 50px;
  font-weight: 500;
  color: #999;
}
.footer .upper .list li:nth-child(1) {
  color: #111;
  font-weight: 700;
}
.footer .upper .select {
  margin-left: auto;
  width: 250px;
  height: 40px;
  border: 1px solid #ccc;
}
.footer .lower {
  margin-top: 30px;
  font-size: 14px;
}